*{
    margin: 0; 
    padding: 0;
}
.navigation{
    margin-top: 15px;
    font-family: var(--font1);
    height: 74px; 
     /* background-color: red;  */ 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left{
    display: flex;
}

.nav-left span{
    padding-top: 3px;
    font-size:30px;

}

.nav-left ul{
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 22px;
}

.nav-left ul li{
    list-style: none;
    margin: 0 14px;
    font-family: var(--font1);
    transition: all 0.3s ease-in-out;
}

.nav-left ul li a:hover {
    color: var(--main-bg-color);
    font-weight: bolder;
}

.nav-left ul li a{
    text-decoration: none;
    color: black;
}

.content-left{
    font-family: var(--font1);
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    z-index: 1;
}

.content-right{
    /* width: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-right img{
    height: 235px;
    width: 235px;
    border: 2px solid black;
    border-radius: 200px;
}

.content{
    display: flex;
    height: 395px; 
    background-color: rgb(245, 245, 248);
    padding: 9px;
    margin-top: 5px;
    position: relative;
}

.content::after{
    content: "";
    background-image: url('../img/home.svg.jpg');
    position: absolute;
    width: 98.5%;
    height: inherit;
    opacity: 0.15;
    border-radius: 12px;
}

.home-articles{
    padding: 16px;
    background-color: rgb(248, 239, 239, 0.5);  
    margin-top: 18px;
}

.home-article{
    display: flex;
    margin: 12px;
}

.home-article-content{
    align-self: center;
    padding: 25px;
}

.home-article-content a{
    text-decoration: none;
    color: var(--main-bg-color);
}

.home-article img{
    width: 200px;
}

.footer{
    height: 50px; 
     background-color: var(--main-bg-color); 
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     color: white;
}





